.accordion {
  color: rgb(51, 51, 51);
  cursor: pointer;
  font-size: 4rem;
  padding: 2vh;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.9s;
  font-family: league spartan;
  font-weight: 600;
  border-radius: 50px 50px 0 0;
}
.neonsign {
  width: 100%;
}

.outer#mintjulep {
  margin-top: 0;
  border-radius: 50px 50px 0 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: relative;
  border: none;
  outline: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  font-family: "News Cycle";
  padding: 0 4rem;
  max-height: 0;
  overflow: hidden;
  height: 100%;
  margin-top: -2px;
  border: none;
  outline: none;
  transition: max-height 0.2s ease-out;
  position: relative;
}

.ingredients {
  margin-top: 30px;
  margin-left: 10px;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
}
.details {
  font-size: 2.5rem;
  text-align: left;
  padding: 5rem;
}
.picture {
  margin-left: 1rem;
  width: 20rem;
  height: 30rem;
  text-align: center;
}
.picture-wrapper {
  display: block;
  text-align: center;
}

/*individual picture adjustment*/

.picture#godfather {
  height: 25rem;
}

.picture#jackcoke {
  height: 35rem;
  width: 15rem;
}
.picture#mojito {
  height: 40rem;
  width: 20rem;
  margin-left: 3rem;
}

.picture#whiskeysour {
  height: 30rem;
  width: 20rem;
}

.picture#wildflower {
  height: 25rem;
  width: 20rem;
}

.picture#sexymild {
  height: 35rem;
  margin-top: -3rem;
}

.picture#kahluamilk {
  height: 25rem;
}

.picture#bluesapphire {
  height: 40rem;
  margin-left: -3rem;
}

.picture#cosmopolitan {
  height: 30rem;
  width: 25rem;
  margin-left: 4rem;
}

.picture#midorisour {
  height: 40rem;
  width: 15rem;
}

.picture#shirleytemple {
  height: 40rem;
  width: 15rem;
  margin-left: 1rem;
}
