/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: rgb(51, 51, 51);
  cursor: pointer;
  font-size: 4rem;
  padding: 2vh;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.9s;
  font-family: Lobster;
  border-radius: 50px 50px 0 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: relative;
  border: none;
  outline: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  font-family: "News Cycle";
  padding: 0 4rem;
  max-height: 0;
  overflow: hidden;
  height: 100%;
  margin-top: -1px;
  border: none;
  outline: none;
  transition: max-height 0.2s ease-out;
}
.outer {
  background-color: #819651;
}

.ingredients {
  margin-top: 30px;
  margin-left: 10px;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
}
.details {
  font-size: 2.5rem;
  text-align: left;
  padding: 30px;
}
.picture {
  width: 20rem;
  height: 30rem;
  text-align: center;
}
.picture-wrapper {
  display: block;
  text-align: center;
}

#mintjulep,
.outer#godfather,
#mojito,
.outer#pinacolada {
  background-color: #819651;
}

#godfather,
.outer#jackcoke {
  background-color: #814118;
}

.picture#godfather {
  height: 22rem;
}

#jackcoke,
.outer#bluehawaii {
  background-color: #d85b43;
}

.picture#jackcoke,
.picture#mojito {
  height: 40rem;
  width: 18rem;
}

#bluehawaii,
.outer#mojito {
  background-color: #b4611e;
}

#pinacolada,
.outer#whiskeysour {
  background-color: #e6ddcb;
}

#whiskeysour,
.outer#wildflower {
  background-color: #588278;
}

.picture#whiskeysour {
  height: 30rem;
  width: 20rem;
}
#wildflower {
  background-color: #bca296;
}

.picture#wildflower {
  height: 25rem;
  width: 20rem;
}
