/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.9s;
  border-radius: 20px 20px 0px 0px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: relative;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.outer {
}

.ingredients {
  margin-top: 30px;
  margin-left: 10px;
  text-align: left;
  font-size: 16px;
}
.details {
  font-size: 15px;
  text-align: left;
  padding: 10px;
}
.picture {
  width: 200px;
  height: 290px;
  text-align: center;
}
.picture-wrapper {
  display: block;
  text-align: center;
}

#mintjulep {
  background-color: #819651;
}

#godfather {
  background-color: #814118;
}

.picture#godfather {
  height: 220px;
}

#jackcoke {
  background-color: #d85b43;
}

.picture#jackcoke {
  height: 300px;
  width: 150px;
}

#bluehawaii {
  background-color: #b4611e;
}

#mojito {
  background-color: #819651;
}

.picture#mojito {
  height: 300px;
  width: 150px;
}

#pinacolada {
  background-color: #e6ddcb;
}

#whiskeysour {
  background-color: #588278;
}

.picture#whiskeysour {
  height: 300px;
  width: 200px;
}
#wildflower {
  background-color: #bca296;
}

.picture#wildflower {
  height: 250px;
  width: 200px;
}
