p {
  padding: 400px;
  text-align: center;
  font-size: 30px;
}
.main {
  background-color: #060644;
  text-align: center;
  height: 100vh;
}
.img {
  width: 80vw;
  margin-top: 250px;
  margin-bottom: 10vh;
}

.link {
  font-family: "News Cycle";
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
}
