p {
  padding: 400px;
  text-align: center;
  font-size: 30px;
}
.main {
  background-color: rgb(10, 23, 121);
  text-align: center;
  height: 1000px;
}
.img {
  width: 200px;
  margin-top: 250px;
  margin-bottom: 30px;
}

.link {
  font-family: "News Cycle";
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
